@import "./themes/latte.css";
* {
  /* reference the color by using @color-name */
  color: @text;
  font-family: "NotoSans Regular", "Awesome Font";
  font-size: 14px;
  font-weight: 600;
}

tooltip {
  background: @base;
  color: @text;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: transparent;
}

#cpu, #disk, #memory {
  padding:3px;
}

#temperature {
  font-size: 0px;
}
#temperature.critical {
  padding-right: 3px;
  font-size: initial;
}

#window {
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.modules-left,
.modules-right {
  background-color: rgba(228,228,228,0.85);
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 15px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#workspaces button.active {
  background-color: @surface2;
  border-radius: 15px;
}
#workspaces button {
  background-color: transparent;
  border-radius: 15px;
  margin-bottom: 2px;
  margin-top: 2px;
}

#tray{
  margin-left: 5px;
  margin-right: 5px;
}
#tray > .passive {
  border-bottom: none;
}
#tray > .active {
  border-bottom: 3px solid white;
}
#tray > widget {
}

#pulseaudio {
  font-family: "NotoSans Regular";
  padding-left: 3px;
  padding-right: 3px;
}

#network {
  padding-left: 3px;
  padding-right: 3px;
}

#language {
  padding-left: 5px;
  padding-right: 5px;
}

#clock {
  padding-right: 5px;
  padding-left: 5px;
}
